<form *ngIf="!checkAuth()" class="form" role="form" (submit)="login(username, password)">
    <div class="form-group">
        <input id="username" name="username" [(ngModel)]="username"
        placeholder="Username"
        class="form-control form-control-sm"
        type="text"
        required>
    </div>
    <div class="form-group">
        <input id="password" name="password" [(ngModel)]="password"
        placeholder="Mot de passe"
        class="form-control form-control-sm"
        type="password"
        required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Connexion</button>
    </div>
    <div class="form-group text-xs-center">
        <small><a href="#">Forgot password?</a></small>
    </div>
    <div>
        <a routerLink="/newuser">Créer un compte</a>
    </div>
</form>
