
<div id="product">
    <h1>Produit</h1>
    <hr>

    <section id="createProduct">
        <h2>Créer un produit</h2>

        <form (ngSubmit)="createProduct()" [formGroup]="createProductForm" class="form" role="form" #f="ngForm" novalidate enctype="multipart/form-data">

            <div class="form-group">
                <input id="libelleProductCreate" name="libelle"
                formControlName="libelle"
                placeholder="Libelle"
                class="form-control form-control-sm"
                type="text"
                required/>
            </div>

            <div class="form-group">
                <input 
                id="photoProductCreate" name="photo"
                class="form-control form-control-sm"
                type="file" accept="image/*" (change)="handleUploaderCreate($event)">
            </div>

            <div class="form-group">
                <textarea id="descritionProductCreate" name="description"
                formControlName="description"
                placeholder="Description"
                class="form-control form-control-sm"
                required>
                </textarea>
            </div>

            <div class="form-group">
                <input id="priceProductCreate" name="price"
                formControlName="price"
                placeholder="Prix"
                class="form-control form-control-sm"
                type="number"
                required/>
            </div>

            <div class="form-group" *ngIf="uploaderCreate">
                <p>Preview :</p>
                <img src={{uploaderCreate}} height="200"/>
                <button type="button" (click)="cancelPhotoCreate($event)">Annuler ?</button>
            </div>

            <div class="form-group">
                <ng-select
                    placeholder="Choix de la catégorie"
                    [options]="categoriesCreate"
                    (selected)="onSelectedCategoryCreate($event)">
                </ng-select>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="createProductForm.invalid" class="btn btn-primary btn-block">Créer</button>
            </div>

        </form>

    </section><hr>

    <section id="updateProduct">
        <h2>Modifier un produit</h2>

        <form (ngSubmit)="updateProduct()" [formGroup]="updateProductForm" class="form" role="form" #f="ngForm" novalidate enctype="multipart/form-data">

            <input type="hidden" value="" id="idProductUpdate" name="id" formControlName="id"/>

            <div class="form-group">
                <ng-select
                    placeholder="Choix du produit"
                    [options]="productsUpdate"
                    (selected)="onSelectedUpdate($event)">
                </ng-select>
            </div>

            <div class="form-group">
                <input id="libelleProductUpdate" name="libelle" 
                formControlName="libelle"
                placeholder="Libelle"
                class="form-control form-control-sm"
                type="text"
                required>
            </div>

            <div class="form-group">
                <input 
                id="photoProductUpdate" name="photo"
                class="form-control form-control-sm"
                type="file" accept="image/*" (change)="handleUploaderUpdate($event)">
            </div>

            <div class="form-group">
                <textarea id="descritionProductUpdate" name="description" 
                formControlName="description"
                placeholder="Description"
                class="form-control form-control-sm"
                required>
                </textarea>
            </div>

            <div class="form-group">
                <input id="priceProductUpdate" name="price"
                formControlName="price"
                placeholder="Prix"
                class="form-control form-control-sm"
                type="number"
                required/>
            </div>

            <div class="form-group" *ngIf="uploaderUpdate">
                <p>Preview :</p>
                <img src={{uploaderUpdate}} height="200" id="previewUpdate"/>
                <button type="button" (click)="cancelPhotoUpdate($event)">Annuler ?</button>
            </div>

            <div class="form-group">
                <ng-select
                    formControlName="id_category" [(ngModel)]="id_category"
                    placeholder="Choix de la catégorie"
                    [options]="categoriesUpdate"
                    (selected)="onSelectedCategoryUpdate($event)">
                </ng-select>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="updateProductForm.invalid" class="btn btn-primary btn-block">Modifier</button>
            </div>

        </form>
    </section><hr>

    <section id="deleteProduct">
        <h2>Supprimer un produit</h2>

        <form (ngSubmit)="deleteProduct()" [formGroup]="deleteProductForm" class="form" role="form" #f="ngForm" novalidate>

            <input type="hidden" value="" id="idProductDelete" name="id" formControlName="id" [(ngModel)]="idDelete" />

            <ng-select
                placeholder="Choix du produit"
                [options]="productsDelete"
                (selected)="onSelectedDelete($event)">
            </ng-select>

            <div class="form-group">
                <button type="submit" [disabled]="deleteProductForm.invalid" class="btn btn-primary btn-block">Supprimer</button>
            </div>
        </form>
    </section><hr>

</div>
