
<div id="category">
    <h1>Categorie</h1>
    <hr>

    <section id="createCategory">
        <h2>Créer une catégorie</h2>

        <form (ngSubmit)="createCategory()" [formGroup]="createCategoryForm" class="form" role="form" #f="ngForm" novalidate>

            <div class="form-group">
                <input id="libelleCategoryCreate" name="libelle"
                formControlName="libelle" formControlName="libelle"
                placeholder="Libelle"
                class="form-control form-control-sm"
                type="text"
                required>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="createCategoryForm.invalid" class="btn btn-primary btn-block">Créer</button>
            </div>

        </form>

    </section><hr>

    <section id="updateCategory">
        <h2>Modifier une catégorie</h2>

        <form (ngSubmit)="updateCategory()" [formGroup]="updateCategoryForm" class="form" role="form" #f="ngForm" novalidate>

            <input type="hidden" value="" id="idCategoryUpdate" name="id" formControlName="id" [(ngModel)]="idUpdate" />

            <ng-select
                [options]="categoriesUpdate"
                (selected)="onSelectedUpdate($event)">
            </ng-select>

            <div class="form-group">
                <input id="libelleCategoryUpdate" name="libelle" formControlName="libelle" [(ngModel)]="libelleUpdate"
                placeholder="Libelle"
                class="form-control form-control-sm"
                type="text"
                required>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="updateCategoryForm.invalid" class="btn btn-primary btn-block">Modifier</button>
            </div>

        </form>
    </section><hr>

    <section id="deleteCategory">
            <h2>Supprimer une catégorie</h2>

            <form (ngSubmit)="deleteCategory()" [formGroup]="deleteCategoryForm" class="form" role="form" #f="ngForm" novalidate>

                <input type="hidden" value="" id="idCategoryDelete" name="id" formControlName="id" [(ngModel)]="idDelete" />

                <ng-select
                    [options]="categoriesUpdate"
                    (selected)="onSelectedDelete($event)">
                </ng-select>

                <div class="form-group">
                    <button type="submit" [disabled]="deleteCategoryForm.invalid" class="btn btn-primary btn-block">Supprimer</button>
                </div>
            </form>
        </section><hr>

</div>
