<div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Categories</h1>
      <div class="list-group">
          <a href="#" class="list-group-item"
              (click)="onSelectAllProducts()">
                Tous les produits
          </a>
        <a *ngFor="let category of categories" 
            href="#" data-id={{category.id}} 
            class="list-group-item"
            (click)="onSelectCategory($event)">
              {{category.libelle}}
        </a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">


      <div class="products row">

        <div *ngFor="let product of products" class="product col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{product.photo}} alt="Image du produit"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{product.libelle}}</a>
              </h4>
              <h5>{{product.price}} €</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
