<!-- BEGIN # MODAL LOGIN -->
<div *ngIf="!checkAuthAdmin()"
class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h1>Administration</h1>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form" class="form" role="form" (ngSubmit)="loginAdmin()" [formGroup]="loginAdminForm">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Saisir l'username et le mot de passe.</span>
                        </div>

                        <input id="usernameAdmin" formControlName="username"
                        class="form-control"
                        type="text"
                        placeholder="Username"
                        required>

                        <input id="passwordAdmin" formControlName="password"
                        class="form-control"
                        type="password"
                        placeholder="Mot de passe"
                        required>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
